.flash__message {
    position: fixed;
    bottom: 14px;
    left: 14px;
    display: flex;
    align-items: center;
    z-index: 2147483647;
    background: white;
    padding: 6px 14px;
    border-radius: 6px;
    font-size: 14px;
    color: #252F3D;
    
    button {
        display: flex;
        margin-left: 14px;
        padding: 10px 0;
        svg {
            width: 20px;
            height: 20px;
        }
    }

    &--success {
        border: solid #29CC74 2px;
    }

    &--error {
        border: solid #E07F4F 2px;
    }
}