@import './reset';
@import './typography';

body {
    background-color: #f9f9f9;
    color: #616161;
    font-family: "SourceSansProRegular", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
