.hero {
    background-image: url("/assets/header-x2.png");
    padding: 284px 0 48px;
    background-size: cover;
    margin-bottom: 65px;
    background-position: right;
    text-align: center;
    &__heading {
        font-size: 64px;
        color: white;
    }

    @include desktop {
        background-position: top left;
        text-align: left;
    }
}

.sort-by-buttton {
    --background-color: #ededed;
    --text-color: #a3a3a3;
    font-size: 14px;
    border-radius: 100px;
    padding: 16px 16px;
    background-color: var(--background-color);
    color: var(--text-color);

    &--active {
        background-color: var(--primary-color);
        color: white;
    }

    @include desktop {
        padding: 14px 24px;
        font-size: 24px;
    }
}

.sorters-wrapper {
    display: flex;
    &>*:not(:last-child) {
        margin-right: 24px;
    }
}

.sort-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    margin-bottom: 30px;
    border-bottom: solid 1px #d9d9d9;
    flex-direction: column;
    gap: 24px;

    @include desktop {
        flex-direction: row;
        gap: 0;
    }

    .left-section {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 14px;

        @include desktop {
            flex-direction: row;
            gap: 0;
        }
    }
}

.sort-header-info {
    @include desktop {
        padding-right: 24px;
        border-right: solid 1px #d9d9d9;
    }
}

.sort-header-info,
.sort-by {
    font-size: 24px;
}

.sort-by {
    display: block;
    color: #a3a3a3;
    padding: 0 22px 0 22px;
}

.paginations .pagination-item:first-child {
    margin-right: 12px;
}

.products-grid {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr;

    @include tablet {
        grid-template-columns: 1fr 1fr;
    }

    @include desktop {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include largeDesktop {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.product-card {
    box-shadow:2px 2px 4px 0 rgba(0,0,0,0.10);
    padding: 24px;
    background-color: white;
    position: relative;
    
    &__info {
        opacity: 0.8;
        background: #616161;
        border-radius: 100px;
        position: absolute;
        top: 12px;
        right: 12px;
        color: white;
        padding: 4px 15px;
        display: flex;
        align-items: center;

        & > * {
            display: flex;
            &:first-child {
                margin-right: 3px;
            }
        }
    }

    img {
        width: 100%;
    }

    .product-card__category {
        display: block;
        border-top: 1px solid #d9d9d9;
        padding-top: 19px;
        font-size: 16px;
        color: #a3a3a3;
        margin-bottom: 2px;
    }

    .product-card__heading {
        font-size: 18px;
        color: #616161;
    }
    
    .redeem__section {
        padding: 24px;
        display: none;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(-180deg, #0ad4faa8 0%, #25bbf1fa 100%);
        &--proccessing {
            display: flex;
        }
    }

    .redeem-button {
        cursor: pointer;
        background-color: white;
        color:#616161;
        font-size: 18px;
        text-align: center;
        padding: 11px 0;
        border-radius: 100px;
        &:disabled {
            opacity: .5;
            cursor: not-allowed;
        }
    }

    .redeem-price {
        margin-top: 12px;
        font-size:36px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        & > *:first-child {
            margin-right: 11px;
        }
        & > *:last-child {
            display: flex;
        }
    }

    &:hover {
        .redeem__section {
            display: flex;
        }
    }
}