.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.37rem 2.62rem;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;

    &__points {
        position: relative;

        & > button {
            display: flex;
            align-items: center;
            background-color: #ededed;
            padding: 3px 13px;
            border-radius: 8px;
            font-size: 24px;
        }

        &__coin {
            width: 24px;
            height: 24px;
            margin-left: 11px;
        }

        &__modal {
            display: block;
            position: absolute;
            right: 0;
            top: 114%;
            width: 300px;
            background-color: white;
            padding: 24px;
            border-radius: 5px;
            box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);

            &__heading {
                color: #1f1f1f;
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            &--active {
                display: block;
            }
        }
    }

    &__section--right {
        display: flex;
        align-items: center;

        &>*:last-child {
            margin-left: 18px;
        }
    }

    &__username {
        font-size: 24px;
    }
}


.points__selectors {
    display: flex;
    gap: 10px;
}

input.points__selector {
    display: none;

    &~label.points__selector {
        cursor: pointer;
        background-color: #eee;
        font-size: 20px;
        padding: 2px 16px;
        border-radius: 5px;
        display: block;
        width: 100%;
    }


    &:checked~label.points__selector {
        background-color: var(--primary-color);
    }
}

.points__button {
    width: 100%;
    background-color: #1f1f1f;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 8px 4px;
    margin-top: 10px;
    cursor: pointer;

    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }
}